#banner
.row
  p
    span.label#orange Welcome
    span.circle#orange
    content  
  p
    span.label#red About
    content  
  p
    span.label#yellow Job Vacancies
    content
  p
    span.label#orange Consultant's Area
    content  
  p
    span.label#red Portfolio
    content  
  p
    span.label#yellow Contact
    content