#banner
.row
  p
    span.label#orange Label    
    span.circle#orange
    content  
  p
    span.label#red Label 
    content  
  p
    span.label#yellow Label 
    content
  p
    span.label#orange Label 
    content  
  p
    span.label#red Label 
    content  
  p
    span.label#yellow Label 
    content