mixin fruit(colour)
  p
    span.label#orange #{colour}    
    span.circle#orange
    content

#banner
.row
  +fruit("orange")
  +fruit("red")
  +fruit("yellow")
  +fruit("orange")
  +fruit("red")
  +fruit("yellow")