<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    
  {{ content }}
  
  <script>
    $(window).on("load resize",function(e) {
    var more = document.getElementById("js-centered-more");

    if ($(more).length > 0) {
      var windowWidth = $(window).width();
      var moreLeftSideToPageLeftSide = $(more).offset().left;
      var moreLeftSideToPageRightSide = windowWidth - moreLeftSideToPageLeftSide;

      if (moreLeftSideToPageRightSide < 330) {
        $("#js-centered-more .submenu .submenu").removeClass("fly-out-right");
        $("#js-centered-more .submenu .submenu").addClass("fly-out-left");
      }

      if (moreLeftSideToPageRightSide > 330) {
        $("#js-centered-more .submenu .submenu").removeClass("fly-out-left");
        $("#js-centered-more .submenu .submenu").addClass("fly-out-right");
      }
    }

    var menuToggle = $("#js-centered-navigation-mobile-menu").unbind();
    $("#js-centered-navigation-menu").removeClass("show");

    menuToggle.on("click", function(e) {
      e.preventDefault();
      $("#js-centered-navigation-menu").slideToggle(function(){
        if($("#js-centered-navigation-menu").is(":hidden")) {
          $("#js-centered-navigation-menu").removeAttr("style");
        }
      });
    });
  });
  </script>

  <script type="text/javascript" src="assets/js/bundle.js"></script>
  </body>
</html>